section {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  .titulo-nuestra-mision {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .titulo-nuestra-mision img {
    margin-right: 10px;
  }
  
  .titulo-nuestra-mision h2 {
    font-size: xxx-large;
  }
  
  .texto-nuestra-mision {
    color: #616161;
    font-size: x-large;
    line-height: 150%;
    margin: 3% 0;
  }
  
  .nuestra-mision-btn-container {
    display: flex;
    justify-content: left;
    margin-top: 15px;
    width: 100%;
  }

  .nuestra-mision-btn {
    color: #000000; 
    font-style: italic;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
  }
  
  .nuestra-mision-btn:hover {
    gap: 20px;
  }
  
  .nuestra-mision-btn-icon, .titulo-nuestra-mision-2 {
    color:#ff5722;
  }
  
  .nuestra-mision-btn{
    font-size: 1.25rem;
  }
  