.banner-section {
  background-color: #000000;
  height: 85vh;
}

.banner-container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 50%;
}

.banner-flex {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  margin-left: -25%;
  margin-right: -25%;
}

.banner-texto {
  color: white;
  flex: 1;
  position: relative;
  padding-left: 24px;
}

.banner-titulo {
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
  color: white;
}

.banner-titulo-2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
  color: #ff5722;
  margin-bottom: 32px;
}

.banner-subtitulo {
  max-width: 415px;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 32px;
}

.banner-btn {
  font-size: large;
  padding: 10px 15px;
  letter-spacing: 1px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 1px;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.banner-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.banner-img {
  height: 100%;
  background-image: url('../assets/img/banner/bg.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  flex: 1;
}
