.entrenamientos-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.entrenamientos-container img {
    width: 20%;
    height: 20%;
    margin-right: -10%;
}

