.app{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;       
    margin-right: auto; 
    overflow: hidden;
}

body{
    font-family: arial, sans-serif;
  }